@font-face {
  font-family: karla;
  src: url("./Karla-VariableFont_wght.ttf");
}

html {
  height: 100vh;
}

body {
  display: flex;
  font-family: karla;
  background-color: var(--base00);
  color: var(--base05);
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  width: 62em;
  max-width: 100vw;
  margin: auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: clip;
  position: relative;
}

#search-overlay {
  background: var(--base00);
  border: solid 1px var(--base04);
  position: absolute;
  top: 7em;
  left: 50%;
  width: 50em;
  max-width: 100vw;

  transform: translateX(-50%);
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;;
}

#search {
  box-sizing: border-box;
  width: 55em;
  margin-bottom: 2em;
  background-color: var(--base01);
  padding: 0.5em;
  color: var(--base05);
  border: solid 1px var(--base04);
}

#search:focus {
  border-color: var(--base0C);
  outline-width: 1px;
}

:focus {
  outline: solid 2px var(--base0C);
}

a:link {
  color: var(--base0D);
}

a:visited {
  color: color-mix(in srgb, var(--base0D), black 10%);
}

a:hover {
  color: color-mix(in srgb, var(--base0D), white 10%);
}

hr {
  color: var(--base03);
}

::selection {
  background-color: var(--base02);
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: solid 1px var(--base03);
  padding: 0.5em;
  background-color: var(--base00);
}


#menu-button, #search-button {
  width: 2em;
  height: 2em;
  background: transparent;
  padding: 5px;
  border: 0;
}

#menu-button svg, #search-button svg {
  fill: var(--base05);
}

#menu-button:hover svg, #search-button:hover svg {
  fill: var(--base07);
}

#sidebar {
  min-width: calc(min(25em, 80vw));
  width: 25em;
  font-size: small;
  overflow: scroll;
  height: 100%;
  border-right: solid 1px var(--base03);
}

#sidebar ol {
  padding-left: 1em;
}

#sidebar li {
  margin: 0.5em 0;
}

#sidebar li strong {
  font-weight: 800;
}

.lavender-book_components-item-spotlight {
  width: 100%;
  image-rendering: pixelated;
}

.recipe-preview {
  display: flex;
  justify-content: center;
}

.embedded-component-container {
  position: relative;
}

.embedded-component-tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
}

.embedded-component:hover + .embedded-component-tooltip {
  display: block;
}

.embedded-component {
  max-width: 100%;
}

.block-quote {
  border-left: solid 2px var(--base05);
  padding-left: 1em;
  margin: 0.5em 0;
}

.black {
  color: var(--base05);
}

.dark_blue {
  color: var(--base0D);
}

.dark_green {
  color: var(--base0B);
}

.dark_aqua {
  color: var(--base0C);
}

.dark_red {
  color: var(--base08);
}

.dark_purple {
  color: var(--base0E);
}

.gold {
  color: var(--base09);
}

.gray {
  color: var(--base03);
}

.dark_gray {
  color: var(--base04);
}

.blue {
  color: var(--base0D);
}

.green {
  color: var(--base0B);
}

.aqua {
  color: var(--base0C);
}

.red {
  color: var(--base08);
}

.light_purple {
  color: var(--base0E);
}

.yellow {
  color: var(--base0A);
}

.white {
  color: var(--base00);
}
