@font-face {
    font-family: karla;
    src: url("./Karla-VariableFont_wght.ttf");
}


body {
  display: flex;
  font-family: karla;
  background-color: var(--base00);
  color: var(--base05);
  max-height: 100vh;
  margin: 0;
}

main {
    width: 60em;
    margin: auto;
}

.page {
    width: 100%;
    overflow: scroll;
    max-height: 100vh;
}

a:link {
  color: var(--base0D);
}

a:visited {
  color: color-mix(in srgb, var(--base0D), black 10%);
}

a:hover {
  color: color-mix(in srgb, var(--base0D), white 10%);
}

hr {
    color: var(--base03);
}

::selection {
    background-color: var(--base02);
}


.sidebar {
  width: 25em;
  font-size: small;
  overflow: scroll;
  border-right: solid 1px var(--base03);
}

.sidebar li {
  margin: 0.5em;
}

.sidebar li strong {
    font-weight: 800;
}


.crafting-preview-result {
    align-self: center;
}

.crafting-preview-result > img {
    border: solid grey 3px;
}

.embedded-component-container {
    position: relative;
}

.embedded-component-tooltip {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
}

.embedded-component:hover + .embedded-component-tooltip {
    display: block;
}


.black {
  color: var(--base05);
}

.dark_blue {
  color: var(--base0D);
}

.dark_green {
  color: var(--base0B);
}

.dark_aqua {
  color: var(--base0C);
}

.dark_red {
  color: var(--base08);
}

.dark_purple {
  color: var(--base0E);
}

.gold {
  color: var(--base09);
}

.gray {
  color: var(--base03);
}

.dark_gray {
  color: var(--base04);
}

.blue {
  color: var(--base0D);
}

.green {
  color: var(--base0B);
}

.aqua {
  color: var(--base0C);
}

.red {
  color: var(--base08);
}

.light_purple {
  color: var(--base0E);
}

.yellow {
  color: var(--base0A);
}

.white {
  color: var(--base00);
}
