name: Build
on:
  push:
    branches:
      - main
jobs:
  book_gen:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pages: write
      id-token: write
    env:
      COLEUS_BOOK_GEN: 'true'
      COLEUS_BOOK_ID: 'lavender-flower:the_book'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '21'
      - name: Run Coleus Book Generation
        uses: modmuss50/xvfb-action@v1
        with:
          run: ./gradlew runTestmodClient --stacktrace
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Book
          path: ./run/coleus/lavender-flower/the_book
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./run/coleus/lavender-flower/the_book